<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>Projek Akhir NDP</title>
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <h2 class="logo">Porto<span class="about">folio</span></h2>
      <a href="/index">Home</a>
      <a href="/about">About</a>
      <a href="/porto">Portofolio</a>
    </nav>
  </header>

  <section class="Profile">
    <h1><span class="about">Overview </span>of Myself</h1>
    <div class="about-content">
      <div class="about-img">
        <img src="img/halo.png" alt="">
      </div>
      <div class="content">
        <h2>Profile</h2>
        <p>Hi everyone, my name is <b>Hibah Ulfatin</b> usually called <b>Ulfa</b>.
          I am 17 years old. I study at SMKN 1 Adiwerna majoring in Computer Network and Telecommunications
          Engineering. Currently I am doing an internship at Nusantech with a Devops class. This is my first
          time learning HTML & CSS. In my spare time I like to seek new knowledge in the world of IT</p>
        <h2>Skill</h2>
        <p>
          <li>Linux System Administration</li>
          <li>Docker</li>
          <li>Git</li>
          <li>Openshift</li>
          <li>Ansible</li>
        </p>
      </div>
    </div>
  </section>
  <hr>
  <section class="experience">
    <h1>My <span class="about">Experience</span></h1>
    <table class="first">
      <tr>
        <td rowspan="4" class="first-samping">Education</td>
      </tr>
      <tr>
        <td class="first-atas">My Education</td>
      </tr>
      <td>
        <!-- Tabel Bersarang dengan 4 baris -->
        <table class="second">
          <tr>
            <td class="second-content"><b>SMKN 1 Adiwerna</b> <i>(2021-Now)</i>
              <p>Major: Computer Network and Telecommunications Engineering</p>
            </td>
          </tr>
          <tr>
            <td class="second-content" id="bg"><b>SMPN 1 Dukuhturi</b> <i>(2018-2021)</i>
              <p>Major: -</p>
            </td>
          </tr>
        </table>
    </table>

    <table class="first">
      <tr>
        <td rowspan="4" class="first-samping">Organization</td>
      </tr>
      <tr>
        <td class="first-atas">PMR</td>
      </tr>
      <td>
        <!-- Tabel Bersarang dengan 4 baris -->
        <table class="second">
          <tr>
            <td class="second-content"><b>JUMBARA 2022</b>
              <li>1st winner Youth Station Kepemimpinan</li>
              <li>1st winner Youth Station Donor Darah</li>
              <li>1st winner Youth Station Gerakan</li>
              <li>1st winner Youth Station RSPS</li>
              <li>1st winner Youth Station Kesehatan Remaja</li>
            </td>
          </tr>
          <tr>
            <td class="second-content" id="bg"><b>Sekretaris</b>
              <li>Setting agendass</li>
              <li>Managing and arranging documents</li>
              <li>Make proposals and permission letters</li>
              <li>Acting as an intermediary with external parties</li>
            </td>
          </tr>
          <tr>
            <td class="second-content">Become a speaker for routine training for younger classmates
          </tr>
        </table>
    </table>
    <table class="first">
      <tr>
        <td rowspan="4" class="first-samping">Certification</td>
      </tr>
      <tr>
        <td class="first-atas">Training & Certification</td>
      </tr>
      <td>
        <!-- Tabel Bersarang dengan 4 baris -->
        <table class="second">
          <tr>
            <td class="second-content"><b>RedHat</b>
              <li>Red Hat Certified System Administrator (RHCSA)</p>
              </li>
              <li>Red Hat System Administration I 8.2 </p>
              </li>
              <li>Red Hat System Administration II 8.2 </p>
              </li>
              <li>RRed Hat OpenShift I: Containers & Kubernetes 4.10</p>
              </li>
              <li>Red Hat OpenShift Development I: Introduction to Containers with Podman 4.12</p>
              </li>
              <li>Red Hat Enterprise Linux Automation with Ansible (RH294)</p>
              </li>
            </td>
          </tr>
        </table>
    </table>
  </section>

  <section class="porto" id="porto">
    <div class="lebar-porto">
      <div class="center-text">
        <h1>My <span>Certification</span></h1>
      </div>

      <div class="porto-content">
        <div class="row">
          <img src="img/RH294.png" alt="">
          <div class="main-row">
            <div class="row-text">
              <h2>RH294</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <img src="img/RH134.png" alt="">
          <div class="main-row">
            <div class="row-text">
              <h2>RH134</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <img src="img/RH124.png" alt="">
          <div class="main-row">
            <div class="row-text">
              <h2>RH124</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <img src="img/DO188.png" alt="">
          <div class="main-row">
            <div class="row-text">
              <h2>DO188</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <img src="img/Docker.png" alt="">
          <div class="main-row">
            <div class="row-text">
              <h2>DOCKER</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <img src="img/DO180.png" alt="">
          <div class="main-row">
            <div class="row-text">
              <h2>DO180</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="big">
        <img src="img/RHCSA.png" alt="">
        <div class="main-row">
          <div class="row-text">
            <h2 id="big">RHCSA</h2>
          </div>
        </div>
      </div>
    </div>
    <section>
      <footer>
        <div class="lebar-footer">
          <h1>How to Hire My Services?</h1>
          <p>I work on projects with the best results and recording to deadlines. Guaranteed revicions and money back if
            you are not satisfied with my work.</p>
          <ul class="social">
            <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
            <li><a href="https://wa.link/3gjnbd" target="_blank"><i class='bx bxl-whatsapp'></i></a></li>
            <li><a href="https://www.instagram.com/ulfbnana_/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="https://www.linkedin.com/in/hibah-ulfatin-64031a280/" target="_blank"><i
                  class='bx bxl-linkedin'></i></a></li>
            <li><a href="https://github.com/Ulfa666" target="_blank"><i class='bx bxl-github'></i></i></a></li>
          </ul>
          <p id="cr">Copyright by Ulfa</p>
      </footer>
      </div>
    </section>
</body>

</html>