<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Projek Akhir NDP</title>
  <link rel="stylesheet" href="css/main.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <h2 class="logo">Porto<span>folio</span></h2>
      <a href="/index">Home</a>
      <a href="/about">About</a>
      <a href="/porto">Portofolio</a>
    </nav>
  </header>

  <section class="home">
    <div class="home-image">
      <img src="img/ulfa.png" alt="" />
    </div>
    <div class="home-content">
      <h1>Hi, I'm Hibah Ulfatin</h1>
      <h3>IT Enthusiast</h3>
      <p>
        Student of SMK N 1 Adiwerna majoring in Computer Network Engineering
        and Telecommunications. Have a deep interest in the world of IT.
        Someone who wants to keep learning, diligent, confident, not easy to
        give up.
      </p>
      <div class="home-sci">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/ulfbnana_/" target="_blank"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/hibah-ulfatin-64031a280/" target="_blank"><i
            class="bx bxl-linkedin"></i></a>
      </div>
      <a href="https://wa.link/3gjnbd" target="_blank" class="btn">Contact Me</a>
      <a href="#" class="btn">Portofolio</a>
    </div>
  </section>

  <section>
    <div class="title">
      <h2>The Team</h2>
    </div>

    <div class="box">
      <div class="card">
        <img src="img/foto.png" class="image" />
        <h5>Jane Doe</h5>
        <div class="pra">
          <p id="jabatan">CEO & Founder</p>
          <p id="desk">
            Some text describe me lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor.
          </p>
          <p id="email">example@example.com</p>
          <p><a class="button" href="#">Contact</a></p>
        </div>
      </div>

      <div class="card">
        <img src="img/foto1.jpg" class="image" />
        <h5>Ulfatin</h5>
        <div class="pra">
          <p id="jabatan">CEO & Founder</p>
          <p id="desk">
            Some text describe me lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor.
          </p>
          <p id="email">example@example.com</p>
          <p><a class="button" href="#">Contact</a></p>
        </div>
      </div>

      <div class="card">
        <img src="img/foto.png" class="image" />
        <h5>Septian</h5>
        <div class="pra">
          <p id="jabatan">CEO & Founder</p>
          <p id="desk">
            Some text describe me lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor.
          </p>
          <p id="email">example@example.com</p>
          <p><a class="button" href="#">Contact</a></p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <footer>
      <div class="lebar-footer">
        <h1>How to Hire My Services?</h1>
        <p>
          I work on projects with the best results and recording to deadlines.
          Guaranteed revicions and money back if you are not satisfied with my
          work.
        </p>
        <ul class="social">
          <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
          <li><a href="https://wa.link/3gjnbd" target="_blank"><i class='bx bxl-whatsapp'></i></a></li>
          <li><a href="https://www.instagram.com/ulfbnana_/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
          <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
          <li><a href="https://www.linkedin.com/in/hibah-ulfatin-64031a280/" target="_blank"><i
                class='bx bxl-linkedin'></i></a></li>
          <li><a href="https://github.com/Ulfa666" target="_blank"><i class='bx bxl-github'></i></i></a></li>
        </ul>
        <p id="cr">Copyright by Ulfa</p>
    </footer>
    </div>
  </section>
</body>

</html>