<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Projek Akhir NDP</title>
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <h2 class="logo">Porto<span>folio</span></h2>
      <a href="/index">Home</a>
      <a href="/about">About</a>
      <a href="/porto">Portofolio</a>
    </nav>
  </header>

  <section class="porto" id="porto">
    <div class="lebar-porto">
      <div class="center-text">
        <h1>My <span style="font-size: 37px">Project</span></h1>
      </div>

      <div class="porto-content">
        <div class="row">
          <article class="card_article">
            <img src="img/Bot.png" alt="" />
            <div class="card_data">
              <h1 class="card_desc">Create a telebot using python</h1>
              <h2 class="card_title">Bot Telegram</h2>
              <a href="#" class="card_button">Visit</a>
            </div>
          </article>
          <div class="row-text">
            <h2>Bot Telegram</h2>
          </div>
        </div>

        <div class="row">
          <article class="card_article">
            <img src="img/slims.png" alt="" />
            <div class="card_data">
              <span class="card_desc">Deploy slims with docker and podman</span>
              <h2 class="card_title">Deploy Slims</h2>
              <a href="#" class="card_button">Visit</a>
            </div>
          </article>
          <div class="row-text">
            <h2>Deploy Slims</h2>
          </div>
        </div>

        <div class="row">
          <article class="card_article">
            <img src="img/web2py.png" alt="" class="card_image">
            <div class="card_data">
              <span class="card_desc">Create a telebot using web2py</span>
              <h2 class="card_title">Bot Telegram</h2>
              <a href="#" class="card_button">Visit</a>
            </div>
          </article>
          <div class="row-text">
            <h2>Bot Telegram</h2>
          </div>
        </div>

        <div class="row">
          <article class="card_article">
            <img src="img/Vlan.jpg" alt="" class="card_image">
            <div class="card_data">
              <span class="card_desc">Create a VLAN network with a Mikrotik router</span>
              <h2 class="card_title">VLAN Network</h2>
              <a href="#" class="card_button">Visit</a>
            </div>
          </article>
          <div class="row-text">
            <h2>VLAN Network</h2>
          </div>
        </div>

        <div class="row">
          <article class="card_article">
            <img src="img/Wlan.jpg" alt="" class="card_image">
            <div class="card_data">
              <span class="card_desc">Create a WLAN network with a Mikrotik router</span>
              <h2 class="card_title">WLAN Network</h2>
              <a href="#" class="card_button">Visit</a>
            </div>
          </article>
          <div class="row-text">
            <h2>WLAN Network</h2>
          </div>
        </div>

        <div class="row">
          <article class="card_article">
            <img src="img/frwl.png" alt="" class="card_image">
            <div class="card_data">
              <span class="card_desc">Perform microtic input filter rules (CLI) configuration.</span>
              <h2 class="card_title">Firewall Filtering</h2>
              <a href="#" class="card_button">Visit</a>
            </div>
          </article>
          <div class="row-text">
            <h2>Firewall Filtering</h2>
          </div>
        </div>
      </div>
  </section>

  <section>
    <footer>
      <div class="lebar-footer">
        <h1>How to Hire My Services?</h1>
        <p>
          I work on projects with the best results and recording to deadlines.
          Guaranteed revicions and money back if you are not satisfied with my
          work.
        </p>
        <ul class="social">
          <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
          <li><a href="https://wa.link/3gjnbd" target="_blank"><i class='bx bxl-whatsapp'></i></a></li>
          <li><a href="https://www.instagram.com/ulfbnana_/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
          <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
          <li><a href="https://www.linkedin.com/in/hibah-ulfatin-64031a280/" target="_blank"><i
                class='bx bxl-linkedin'></i></a></li>
          <li><a href="https://github.com/Ulfa666" target="_blank"><i class='bx bxl-github'></i></i></a></li>
        </ul>
        <p id="cr">Copyright by Ulfa</p>
    </footer>
    </div>
  </section>
</body>

</html>